{% extends 'layout.html.twig' %}

{% block bodyclass %}
    home-page
{% endblock %}

{% block content %}

    <div class="home container-fluid">
        <div class="home-title row">
            <div class="home-background col-12"></div>
            <div class="title-container row">
                <div class="title-text col-5">
                    <h1>French Band <br/> Pop . Indie . Zouk </h1>
                </div>
                <div class="title-img col-sm-7 col-md-6 col-lg-5">
                    <img src="../../assets/images/origami-couche.jpg" alt="Amoure - French Band">
                </div>
            </div>
        </div>
        <div class="home-video row">
            <div class="col">
                <div class="first-video row">
                    <div class="big-video col-8 offset-2">
                        {% for video in videos | slice(0,1)%}
                            {{ video.url | raw}}
                        {% endfor %}
                    </div>
                </div>

                <div class="other-video row">
                    <div class="small-video col-lg-10 offset-lg-1">
                        {% for video in videos | slice(1,3)%}
                            {{ video.url | raw}}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="home-about row">
            <div class="about-img col-4">
                <img src="../../assets/images/amoure-origami.jpg" alt="Amoure - Origami">
            </div>
            <div class="about-text col-lg-5">
                <h2>Qui sommes nous ?</h2>
                <p>Amoure, c'est les gouttes d'eau de mer qui perlent sur les peaux dorées, l'exaltation enfantine du départ en voyage, les bikins colorés et les pieds nus sur le tableau de bord. Les cheveux dans le vent et la route qu is'étale devant soi, vers une destination qui promet des nuits à oublier qui on est, des rires à n'en plus finir, des rencontres éphémères mais de celles qui tatouent l'âme</p>
            </div>

            <div class="about-marg col-1"></div>

        </div>

        <div class="home-disco row">
            <div class="col-10 offset-1">
                <h2>Discographie</h2>
                <div class="row">
                    {% for disk in disks %}
                        <div class="disco-contain col-12 col-md-4 col-lg-4">
                            <div class="disco-img">
                                <a href="{{ disk.url }}">
                                    <img src="assets/images/{{disk.img_path}}" class="card-img-top" alt="Aperçu de la pochette">
                                </a>
                            </div>
                            <div class="picto-disco">
                                <img src="assets/images/icons8-spotify-home.png">
                            </div>
                            <h5 class="card-title">{{disk.name}}</h5>
                        </div>
                    {% endfor %}
                </div>


            </div>

        </div>

    </div>
{% endblock %}
